@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #ccc;
}
ul {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;

}
li {
    list-style: none;
    margin: 0 5px;

}
.fa-brands {
    color: #262626;
    font-size: 40px;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
    margin-top: 12px;

}
a {
    width: 210px;
    height: 80px;
    background: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px #000;
}
a span{
    color: #262626;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    letter-spacing: 4px;
    transition: .5px;

}
a::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    top: 10px;
    left: -20px;
    transform: rotate(0deg) skewY(-45deg);
}
a::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    bottom: -20px;
    left: -10px;
    transform: rotate(0deg) skewX(-45deg);

}
a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px #000;

}
li:hover .fa-brands, li:hover span {
    color: #fff;
}
li:hover:nth-child(1){
    & a {
        background: #dd4b39;
        &::before {
            background: #b33a2b;

        }
        &::after {
            background: #b33a2b;
        }
    }
}
li:hover:nth-child(2){
    & a {
        background: #e4405f;
        &::before {
            background: #d81c3f;

        }
        &::after {
            background: #d81c3f;
        }
    }
}
li:hover:nth-child(3){
    & a {
        background: #0088cc;
        &::before {
            background: #0177b3;

        }
        &::after {
            background: #0177b3;
        }
    }
}

